:root {
  --primary-color: 18, 16, 14;
  --lightest-primary: 58, 51, 44;
  --secondary-color: 247, 234, 222;
  --terciary-color: 84, 140, 47; 
  --lightest-terciary: 143, 204, 102;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: rgb(var(--primary-color));
  display: flex;
  justify-content: center;
  font-family: sans-serif, system-ui;
  font-size: 1.4rem;

  background-color: rgb(var(--primary-color));
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;

}

section {
  background-color: rgba(var(--secondary-color));
 
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

section:first-child {
  margin-top: 5rem;
}

select {
  all: unset;
  appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
}

input {
  all: unset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

  border: solid 1px black;
  padding: 0.2rem 0.4rem;
  background-color: white; 

} 


table {
  padding: 1rem;
  border: 1px solid rgba(var(--primary-color));
  background-color: white;
  box-shadow: inset 0.2rem 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.154), 
  inset -0.2rem -0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.154);
}

table th {
  color: white;
  background-color: rgba(var(--primary-color));
  padding: 0.4rem 0.2rem;
}

table tr {
  cursor: pointer;
}

table td {
  padding: 0.4rem 0.2rem;
  border-bottom: 1px solid black;

}

.table-row-color-0 {
  background-color: rgb(var(--secondary-color));
}

