.suggestion-box {
  position: absolute;
  padding: 2px;
  color: rgb(var(--primary-color));;
  background-color: white;

  width: 148%;
  max-height: 4.8rem;
  overflow: auto;
  border: 1px solid rgb(var(--primary-color));
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
}

.suggestion-box-item {
  background-color: white;
}

.suggestion-box-item:hover {
  background-color: rgb(var(--lightest-terciary));
}

.selected-suggestion {
  background-color: rgb(var(--lightest-terciary));
}

.suggestion-box:focus, .suggestion-box:focus-visible {
  border: solid 1px rgb(var(--terciary-color));
}
